.bingoItem {
    height: 130px;
    width: 100px;
    border-radius: 15px;
    position: relative;
}

.itemFront {
    align-items: center;
    background: #abd2fa;
    border-radius: 15px;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.itemBack {
    align-items: center;
    background: #3d518c;
    border-radius: 15px;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.completed {
    background-color:  #a2d9ce;
}