.bingoGrid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    margin-inline: auto;
    width: min-content;
}

.bingoCardTitle {
    text-align: center;
}