.addBookButton {
    background: #EDECE9;
    padding: 0.4rem;
    border-radius: 10px;
}

.deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background:  #ec7063 ;
    padding: 0.15rem;
    border-radius: 5px;
}