:root {
  --darkGray: #333333;
  --dark: #141419;
  --gray: #BDBDBD;
  --lightGray: #F5F5F5;
  --lightGreen: #BDCFB5;
  --darkGreen: #496F49;
  --lightOrange: #E8AC9B;
  --darkOrange: #85341E;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
